/* start variables */
:root {
  --Pink: hsl(322, 100%, 66%);
  --Very_Pale_Cyan: hsl(193, 100%, 96%);
  --Very_Dark_Cyan: hsl(192, 100%, 9%);
  --Grayish_Blue: hsl(208, 11%, 55%);
}
/* end varibales */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
html {
  scroll-behavior: smooth;
}
body,
input {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start components */

/* end components */
/* start header */
header {
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: var(--Very_Pale_Cyan);
  background-size: cover;
}
@media (max-width: 768px) {
  header {
    background-image: url(../images/bg-hero-mobile.svg);
  }
}
header .container {
  color: var(--Very_Dark_Cyan);
}
header .logo-try {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-try input {
  border: none;
  padding: 12px 50px;
  border-radius: 20px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 0 10px var(--Grayish_Blue);
  cursor: pointer;
}
@media (max-width: 768px) {
  header .logo-try input {
    padding: 10px 30px;
  }
  header .logo-try img {
    width: 150px;
  }
}
header .main {
  display: flex;
  gap: 25px;
  padding: 60px 0;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  header .main {
    justify-content: center;
    gap: 60px;
    flex-direction: column;
  }
}
header .main .text {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  flex: 1;
  justify-content: center;
}
@media (max-width: 992px) {
  header .main .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
header .main .text p {
  margin: 10px 0;
  line-height: 1.6;
}
header .main .text input {
  border: none;
  padding: 15px 50px;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--Pink);
  color: white;
  font-weight: bold;
  width: fit-content;
  transition: 1s;
}
header .main .text input:hover {
  opacity: 0.8;
}
header .main .image {
  min-width: 500px;
  flex: 1;
}
@media (max-width: 768px) {
  header .main .text {
    min-width: 200px;
  }
  header .main .text p {
    margin: 20px 0;
  }
  header .main .image {
    display: flex;
    min-width: 200px;
    align-items: center;
  }
}
header .main .image img {
  width: 100%;
}
/* end header */
/* start info */
.info {
  position: relative;
  padding: 60px 0 130px;
  color: var(--Very_Dark_Cyan);
}
@media (max-width: 768px) {
  .info {
    padding-bottom: 150px;
  }
}
.info .container > div {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--Grayish_Blue);
  padding: 30px;
  gap: 20px;
}
@media (max-width: 768px) {
  .info .container > div {
    flex-wrap: wrap;
    padding: 40px;
  }
}
.info .ltr {
  margin: 30px 0;
}
.info .ltr .image {
  order: 1;
}
.info .ltr .text {
  order: 2;
}
.info .text {
  min-width: 200px;
  padding: 50px;
}
.info .text h4 {
  margin: 10px 0;
  font-size: 20px;
}
.info .image {
  min-width: 200px;
}
@media (max-width: 768px) {
  .info .container > div .image {
    order: 1;
  }
  .info .container > div .text {
    order: 2;
    text-align: center;
    padding: 0;
  }
}
.info .image img {
  width: 100%;
}
/*start card*/
.card {
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  padding: 30px 60px;
  box-shadow: 0 0 10px var(--Grayish_Blue);
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .card {
    width: 92%;
    margin: 0 auto;
    padding: 20px;
  }
}
.card h2 {
  margin: 0 0 20px;
}
.card input {
  border: none;
  padding: 20px 50px;
  background-color: var(--Pink);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}
.card input:hover {
  opacity: 0.8;
}
/*end card*/
/* end info */
/* start footer */
footer {
  padding: 130px 0 60px;
  background-color: var(--Very_Dark_Cyan);
}
@media (max-width: 992px) {
  footer {
    padding: 150px 0 40px;
  }
}
footer .information {
  color: white;
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 992px) {
  footer .information {
    flex-direction: column;
    gap: 50px;
  }
}
footer .information ul {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .information ul:first-of-type {
  max-width: 400px;
}
footer .information ul:first-of-type li:first-of-type {
  align-items: flex-start;
}
footer .information ul:first-of-type img {
  padding-right: 5px;
  width: 25px;
  height: 25px;
}
footer .information ul li {
  display: flex;
}
footer .information ul li img {
  margin-right: 20px;
}
footer .information .social {
  display: flex;
  gap: 10px;
}
@media (max-width: 992px) {
  footer .information .social {
    justify-content: center;
  }
}
footer .information .social svg {
  transition: 0.1s;
  width: 30px;
  height: 30px;
  fill: white;
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
}
footer .information .social .f:hover {
  fill: #2196f3;
  border-color: #2196f3;
}
footer .information .social .t:hover {
  fill: #03a9f4;
  border-color: #03a9f4;
}
footer .information .social .i:hover {
  fill: #e91e63;
  border-color: #e91e63;
}
footer .container > p {
  color: white;
  text-align: end;
}
@media (max-width: 992px) {
  footer .container > p {
    text-align: center;
  }
}
/* end footer */
